<ion-content class="account-wrapper">
    <div class="main-container">
        <ion-row class="topheader">
            <ion-col class="heading-wrap ion-no-padding" size="11">
                <h1 class="page-heading">Username</h1>
            </ion-col>
            <ion-col class="notification-wrap ion-no-padding" size="1">
                <img src="#" class="support-img" />
            </ion-col>
        </ion-row>

        <div class="links-card">
            <h2 class="top-titles">manage</h2>
            <ion-card no-lines>
                <ion-item lines="none">
                    <ion-label>service settings</ion-label>
                    <ion-icon class="chevron-forward" name="chevron-forward"></ion-icon>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>Payment Method</ion-label>
                    <ion-icon class="chevron-forward" name="chevron-forward"></ion-icon>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>Preferences</ion-label>
                    <ion-icon class="chevron-forward" name="chevron-forward"></ion-icon>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>profile</ion-label>
                    <ion-icon class="chevron-forward" name="chevron-forward"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>update password</ion-label>
                    <ion-icon class="chevron-forward" name="chevron-forward"></ion-icon>
                </ion-item>
            </ion-card>
        </div>
        <div class="links-card"></div>
    </div>
</ion-content>