<ion-content class="no-scroller mobile-view-main" lang="en">
    <div class="opacity-layer"></div>
    <div class="mobile-view" fxLayout="column" fxFlex="100%">
        <div fxFlex="36%">
            <div class="ion-text-center home-logo">
                <ion-img id="applogo" loading="lazy" alt="GamatoGames" src="#"></ion-img>
            </div>
            <div class="welcome-content" aria-label="welcomePageSlider">
                <!-- <swiper accesskey="s" ></swiper> -->
            </div>
        </div>
    </div>
</ion-content>