.image-placement {
  width: 100%;
}

.top-area {
  justify-content: center;
}

.radius-img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 170px;
}

.top-heading {
  top: calc(50% - 16px / 2 + 5px);
  position: absolute;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.285714px;
  color: #fff;
  z-index: 1;
}

.description {
  position: absolute;
  height: 98px;
  left: 10.8%;
  right: 10.8%;
  top: calc(55% - 98px / 2 + 76px);
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.action-btn-large {
  height: 60px;

  --border-radius: 50px;

  font-size: 2.2vh !important;
  text-transform: none;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;

  --box-shadow: 0 10px 20px 0 rgb(64, 117, 205, 0.2);

  width: 300px;

  --background: #7265e3;

  @media (min-width: 1025px) {
    position: absolute;
    bottom: 25px;
  }
}

.buttom-area {
  justify-content: center;
  margin-bottom: 20px;
}
