
<ion-card class="slider-size-spec">
  <ion-row class="ion-no-padding">
    <ion-row class="top-area ion-no-padding">
      <img src="#" alt="" class="image-placement" />
      <img src="#" class="image-placement" alt="" />
      <img src="#" class="radius-img" alt="">
      <h2 class="top-heading">GamatoGames quick access</h2>
      <span class="description">
        want to have a better GamatoGames experience? Add to social home screen for quick and easy access
        when you're on the go.
      </span>
    </ion-row>
    <ion-row class="button-area ion-no-padding">
      <ion-button class="action-btn-large account-btn">
        Add to Homescreen
      </ion-button>
    </ion-row>
  </ion-row>
</ion-card>