<ion-content>
    <ng-template>
        <app-header class="legal-header"></app-header>
        <div class="page-background-blue">
            <ion-grid class="ion-no-padding">
                <div class="page-background-white user-information-wrapper">
                    <ion-row class="page-padding">
                        <p class="legal-content">The reason why paragraphs should be “headlined” with reference to the overall 
                            argument is to keep that argument in the reader’s mind, 
                            thereby making it easier for them to see the relevance of the rest of the 
                            paragraph. This way, the reader doesn’t lose track, and neither do you as you write.</p>
                    </ion-row>
                    <ion-row>
                        <h1></h1>
                    </ion-row>
                </div>
                <div class="page-background-white delete-all-data">
                    <ion-row class="delete-wrapper-content">
                        <p class="close-account-description deleted-confirmation">
                            legal info
                            <span class="permanently-word"></span>
                        </p>
                        <ul>
                            <li>Receive</li>
                            <li>Login</li>
                            <li>balances</li>
                        </ul>
                        <div class="warning-wrapper close-warn">

                            <h1 class="warning-text warn-align">
                                <span>
                                    <ion-icon class="warning-icon"></ion-icon>
                                </span> action
                            </h1>
                        </div>
                    </ion-row>
                    <ion-row class="delete-action-wrapper">
                        <h1 class="warning-text delete-account-data">
                            
                        </h1>
                    </ion-row>
                </div>
            </ion-grid>
        </div>
    </ng-template>
</ion-content>