<div class="container-fluid">
    <mat-tab-group>
        <mat-tab label="Produce" id="produce1">
            <ng-template matTabContent>
                <h1>this is produce</h1>
            </ng-template>
        </mat-tab>
        <mat-tab label="Prepared foods" id="prefoods"></mat-tab>
        <mat-tab label="Canned foods & Soups"><i class="fa fa-cart"></i></mat-tab>
        <mat-tab label="Produce "><i class="fa fa-home"></i></mat-tab>
        <mat-tab label="Bakery"><i class="fa fa-facebook"></i></mat-tab>
        <mat-tab label="Diary & Eggs"><i class="fa fa-cart"></i></mat-tab>
        <mat-tab label="Frozen"><i class="fa fa-home"></i></mat-tab>
        <mat-tab label="Meat & Seafood"><i class="fa fa-facebook"></i></mat-tab>
        <mat-tab label="Bakery"><i class="fa fa-cart"></i></mat-tab>
    </mat-tab-group>
</div>
