<div class="container-fluid">
    <mat-tab-group>
        <mat-tab label="First"><i class="fa fa-home"></i></mat-tab>
        <mat-tab label="Second"><i class="fa fa-facebook"></i></mat-tab>
        <mat-tab label="Third"><i class="fa fa-cart"></i></mat-tab>
        <mat-tab label="First"><i class="fa fa-home"></i></mat-tab>
        <mat-tab label="Second"><i class="fa fa-facebook"></i></mat-tab>
        <mat-tab label="Third"><i class="fa fa-cart"></i></mat-tab>
        <mat-tab label="First"><i class="fa fa-home"></i></mat-tab>
        <mat-tab label="Second"><i class="fa fa-facebook"></i></mat-tab>
        <mat-tab label="Third"><i class="fa fa-cart"></i></mat-tab>
        <mat-tab label="First"><i class="fa fa-home"></i></mat-tab>
        <mat-tab label="Second"><i class="fa fa-facebook"></i></mat-tab>
        <mat-tab label="Third"><i class="fa fa-cart"></i></mat-tab>
    </mat-tab-group>
</div>
