<ion-app>
  <div class="narrator-wrapper narrator-top-wrapper">
    <div class="close-ico">
      <img src="" alt="">
    </div>
    <div class="ion-no-padding">
      <div class="avatar-wrapper">
        <img src="" alt="">
        <p><strong>Now tap the VOUCHER WALLET.</strong></p>
      </div>
      <div class="feature-wrapper">
        <div class="feature-img-wrapper">
          <img src="" alt="">
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class="close-ico"></div>
    <div class="ion-no-padding">
      <div class="avatar-wrapper">
        <img src="" alt="">
        <div class="typewriter">
          <p>
            <span class="type" style="--n:83">
            <span class="light-text">Hi! Im Mini... <br> and I'm here to show you around...</span></span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="narrator-wrapper narrator-middle-wrapper">
    <div class="close-ico">
      <img src="#" alt="">
    </div>
    <div class="ion-no-padding">
      <div class="avatar-wrapper">
        <img src="#" alt="">
        <div class="typewriter">
          <p>
            <span class="type" style="--n:83">
            <span class="type">
              It looks like you have a VOUCHER 
              <br/> to claim!
              <br/> <span class="light-text">First, tap the</span> Menu <span class="light-text">button...</span>
            </span></span>
          </p>
        </div>
      </div>
      <div class="menu-wrapper">
        <div class="menu-img-wrapper">
          <img src="#" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="narrator-wrapper narrator-bottom-wrapper">
    <div class="close-ico"><img src="#" alt=""></div>
    <div class="ion-no-padding">
      <div class="card-wrapper">
        <div class="card-img-wrapper">
          <img src="#" alt="" />
          <h2>Crezy Cat</h2>
          <p class="text-desc">Lorem ipsum color ipsum dolorLorem ipsum dolor ipsum dolor</p>
          <ion-button class="white-btn">Play Now</ion-button>
          <div class="d-flex">
            <p>400 points per play</p>
            <p><a href="#"><strong>See more details</strong></a></p>
          </div>
        </div>
      </div>
      <div class="avatar-wrapper">
        <img src="#" alt="">
        <div class="typewriter">
          <p>
            <span class="type">Tap</span> PLAY NOW <br/>
            <span class="light-text">For your</span> FREE GAME!
          </p>
        </div>
      </div>
    </div>
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
