<ion-content>
    <div class="fixedtop">
        <div class="header-wrapper">
            <div style="display: flex;">
                <ion-icon class="down-arrow" name="chevron-down-outline"></ion-icon>
                <span>
                    <h4 class="whats-next-text">Fantasy Millionaire Profile</h4>
                </span>
            </div>
            <span>
                <img src="#" alt="" />
            </span>
        </div>
        <ion-grid fxLayout="column" fxFlexFill class="ion-no-padding">
            <ion-row>
                <div class="what-vip-card-title">Milissa Green</div>
                <div class="what-vip-card-banner" style="background-color: antiquewhite;">
                    <div>
                        <div class="icons-holder">
                            <img src="#" alt="" class="crn-1" />
                            <span class="alignment expert">
                                <img src="#" alt="" class="crn-count" />
                                <span class="img-text">88</span>
                            </span>
                            <span class="alignment tycoon">
                                <img src="#" alt="" class="crn-count" />
                                <span class="img-text">33</span>
                            </span>
                            <span class="alignment mentor">
                                <img src="#" alt="" class="crn-count" />
                                <span class="img-text">33</span>
                            </span>
                        </div>
                        <div class="profile-image">
                            <div class="what-vip-card-banner-avatar">
                                <img src="#" />
                                <span>
                                    <ion-input class="hide-file" type="file"></ion-input>
                                </span>
                            </div>
                        </div>
                        <div class="c-last">
                            <span>
                                <ion-input class="hide-file" type="file"></ion-input>
                            </span>
                        </div>
                    </div>

                </div>
            </ion-row>
        </ion-grid>
    </div>
    <div class="profile-container-tab">
        <div class="profile-widgets-container" id="profile-widgets-container">
            <ion-grid class="profile-widgets">
                <ion-row class="up-widget mb-10">
                    <div class="up-gem">
                        <span class="up-gem-bg"><span><img src="#" alt=""></span></span>
                    </div>
                    <div class="up-progress">
                        <div class="level-progress">
                            <div class="ion-progress-bar">
                                <div class="progress" style="width: 30%;" ></div>
                            </div>
                            <div class="level-num">
                                <div>Level 13</div>
                                <div>Current score 11,235/ <span>10,000</span></div>
                            </div>
                        </div>
                    </div>
                </ion-row>

                <ion-row class="up-widget up-hero-xp">
                    <ion-col class="blue_diamond">
                        <div class="up-diamond">
                            <div class="up-gem">
                                <span class="up-gem-bg"><img src="#" /></span>
                            </div>
                            <div class="up-progress">
                                <div class="level-progress">
                                    <div class="progress"></div>
                                </div>
                                <div class="level-num">
                                    <p>Community</p>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col class="green_diamond">
                        <div class="up-diamond">
                            <div class="up-gem">
                                <span><img src="#" alt="" /></span>
                            </div>
                            <div class="up-progress">
                                <div class="level-progress">
                                    <div class="ion-progress-bar">
                                        <div class="progress" style="width: 60%;"></div>
                                    </div>
                                    <div class="level-num">
                                        <p>Fortune</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col class="orange_diamond">
                        <div class="up-diamond">
                            <span><img src="#" alt=""></span>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>