<div>
    <div fxLayout="column" fxFlex="100" fxFlexFill>
        <div fxFlex="6"></div>
        <div fxFlex="14" class="ion-align-self-center">
            <p class="emoji-gift-cone">🎉</p>
        </div>
        <div fxFlex="15">
            <h2 class="text-sent">We just sent you a text</h2>
            <p class="password-sent-confirmation">
                Please allow 5 minutes for the text to arrive, then click on it to rest your password
            </p>
        </div>
        <div fxFlex="20" class="back-login">
            <ion-button class="capsule-btn common-margin" expand="block" color="medium" type="submit">Back to login</ion-button>
        </div>

        <div fxFlex="20">
        </div>
    </div>
</div>