.text-sent {
    color: #FFFFFF;
    text-align: center;
    font-size: 2.8vh;
}

.password-sent-confirmation {
    color: #E1DDF5;

    margin: 0 2.5vh;
    text-align: center;
    font-size: 2vh;
    font-weight: 400;
}

.logo {
    margin-top: 3vh;
    height: 10vh;
    width: 10.5vh;
}

.emoji-gift-come {
    font-size: 9vh;
    margin-bottom: 0px;
    margin-top: 5vh;
    margin-left: 3vh;
}

.text-sent-wrap {
    height: 100%;
    overflow-y: hidden;
}

.back-login {
    margin-top: 3vh;
}

