.pagebackground{
    background-image: linear-gradient(211deg,#40318d, #63a6e7);
    height: 100%;
    width: 100%;
}

.wrap
{
	width:70%;
	margin:5.2% auto 4% auto;
}
.logo
{
	padding: 1em;
	text-align: center;
	padding: 1% 1% 5% 1%;
}
.logo h1{
	display: block;
	padding: 2em 0em;
}
.image{
    height: 19px;
}
.logo span{
	font-size: 3vh;
	color:#fff;
}
.logo span{
	width:40px;
	height: 40px;
	vertical-align:bottom;
	margin: 0px 10px;
}
.rectangle-2 {
    width: 267px;
    height: 47px;
    border-radius: 25px;
    background-color: #ffffff;
  }
  .button-div{
    text-align: center;
    width: 100%;
  }
  .button {
    width: 201.7px;
    height: 19px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#8554EF;
  }