<div>
  <ion-item class="top-home-page" lines="none">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </h3>
    </ion-label>
    <ion-avatar class="bell-icon">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
  </ion-item>
  <div class="slider">
    <ion-thumbnail class="home-card-skeleton-1" slot="start">
      <ion-skeleton-text class="home-card-skeleton-text" animated></ion-skeleton-text>
    </ion-thumbnail>
    <ion-thumbnail class="home-card-skeleton-2" slot="start">
      <ion-skeleton-text animated class="home-card-skeleton-text-2"></ion-skeleton-text>
    </ion-thumbnail>
  </div>
  <ion-skeleton-text animated class="goal-skeleton"></ion-skeleton-text>
</div>

<!-- new ionic home card skeleton -->

<div>
  <ion-item class="home-feed" lines="none">
    <ion-avatar slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>

  </ion-item>
  <ion-thumbnail slot="start" class="home-feed-card-skeleton-1">
    <ion-skeleton-text animated class="home-card-skeleton-text"></ion-skeleton-text>
  </ion-thumbnail>
  <ion-item class="home-feed" lines="none">
    <ion-avatar slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>

    </ion-label>
  </ion-item>
  <ion-thumbnail slot="start" class="home-feed-card-skeleton-1">
    <ion-skeleton-text animated class="home-card-skeleton-text"></ion-skeleton-text>
  </ion-thumbnail>
  <ion-item class="home-feed" lines="none">
    <ion-avatar slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</div>

<!-- new game page skeleton loader -->

<div>
  <ion-item style="padding: 3vh; background-color: #fff; " lines="none">
    <ion-skeleton-text animated style="width: 45vw; height: 6vh; margin-bottom: 15px;"></ion-skeleton-text>
  </ion-item>
</div>

<div>
  <ion-item style="
              position: absolute; 
              top: 0; 
              display: block; 
              width: 100%; 
              min-height: 500px; 
              height: 500px; 
              padding: 10px 0px;
              background-color: #fff;" lines="none">
    <ion-skeleton-text animated style="width: 50%; height: 4vh;"></ion-skeleton-text>
    <ion-avatar slot="end" class="bell-icon">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
  </ion-item>
  <div style="background-color: #fff; margin-bottom: 10px; padding: 50px; padding-top: 15px;">
    <ion-item class="top-home-page game-user" lines="none">
      <ion-skeleton-text animated style="width: 50%; height: 3vh;"></ion-skeleton-text>
    </ion-item>
    <div class="slidebox" line="none">
      <ion-skeleton-text animated class="img-skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated class="img-skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated class="img-skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated class="img-skeleton"></ion-skeleton-text>
    </div>
    <div class="slidetext" lines="none">
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
    </div>
  </div>
  <ion-list>
    <div>
      <ion-skeleton-text animated
        style="width: 35%; height: 3vh; margin-left: 20px; margin-bottom: 10px; margin-top: 15px;">
      </ion-skeleton-text>
      <ion-skeleton-text animated
        style="width: 80%; height: 2vh; margin-left: 20px; margin-bottom: 20px;"></ion-skeleton-text>
    </div>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    
  </ion-list>
  <div style="padding-bottom: 15px">
    <div class="advheader">
      <ion-skeleton-text animated="" style="width: 50%; height: 3vh; margin-bottom: 15px"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 75%; height: 2vh"></ion-skeleton-text>
    </div>
    <div class="advbox" lines="none">
      <ion-skeleton-text animated="" class="adv-skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated class="adv-skeleton2"></ion-skeleton-text>
    </div>

    <div>
      <ion-list>
        <div>
          <ion-skeleton-text></ion-skeleton-text>
        </div>
      </ion-list>
    </div>
</div>