<ion-content class="signUp-content">
    <div class="signup-wrap flex-container" fxLayout="column" fxFlex="100%" fxFlexFill lang="en">
        <div>
            <ion-fab vertical="top" horizontal="start" slot="fixed">
                <ion-icon name="arrow-back" class="close-fab"></ion-icon>
            </ion-fab>
            <dl>
                <div class="ion-text-center">
                    <dt><div class="signup-text">
                        <h3 class="heading">SignUP</h3>
                    </div></dt>
                </div>
            </dl>
        </div>

        <div>
            <form class="signup-form-size">
                <div class="main">
                    <div class="avatarContainer">
                        <!-- For PWA-->
                        <ion-avatar class="avatar-center">
                            <ion-icon 
                                name="add-circle"
                                class="addImagePosition"></ion-icon>
                        </ion-avatar>
                        <div class="spinnerContainer">
                            <!-- <mat-progress-spinner class="custom-spinner" mode="determinate" [value]="progressValue" diameter="40">
                            </mat-progress-spinner> -->
                        </div>
                        <div class="circle-with-text"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ion-content>