/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.navigation-button {
    border: none;
    outline: none;
    width: 100%;
    word-break: break-all;
    height: 100%;
    color: var(--white);
    background-color: var(--black);
}

.navigation-button:hover {
    color: var(--grey);
}

.regular-button {
    background-color: var(--black);
    border: 4px solid var(--black);
    font-size: 19px;
    vertical-align: text-bottom;
}

.navigation-button:hover {
    background-color: var(--black);
    color: var(--light-gray);
}

.text-right {
    float: right;
}

.pd-rt-12 {
    padding-right: 12px;
}

.title {
    background-color: var(--white);
    border-bottom: 5px solid var(--black);
    color: var(--black);
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.title-border {
    border: 3px solid;
    border-radius: 1px;
}

.welcome-content {
    .swiper .swiper-slide {
        padding: 0 3vh !important;
        display: block !important;
        z-index: 10 !important;
    }

    .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -1px !important;
    }
    .swiper-pagination-bullet {
        background: #e7ebed !important;
        border: #707070;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #6155cc !important;
    }
}

.choose-slider {
    .swiper .swiper-slide img {
        width: 100%;
        object-fit: cover;
    }

    .swiper-slide-active {
        .slider-slide-spec {
            opacity: 1 !important;
        }
    }
}

