/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
// @import "~@angular/material/theming";
// @import '~swiper/swiper-bundle';
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.header-md:after {
    background: none;
}

.country-select .item-native,
.country-select .item-inner {
    --padding-left: 0;
    padding-left: 0;
}

.signup-form .item-native,
.signup-form .item-inner {
    border: none;
}

.iti {
    width: 100%;
    min-height: 7vh;
    display: flex !important;
}

.signupfield {
    height: 7vh;
    text-align: left;

    .native-input {
        height: 58px;

    }
}

::placeholder {
    color: #9c9eb9 !important;
    font-size: 2vh;
    text-align: left;
    opacity: 1 !important;
}

.invalid-field {
    ::placeholder {
        color: #c56464 !important;
        font-size: 2vh;
        text-align: left;
        opacity: 1 !important;


    }

}



.navigation-button {
    border: none;
    outline: none;
    width: 100%;
    word-break: break-all;
    height: 100%;
    color: var(--white);
    background-color: var(--black);
}

.navigation-button:hover {
    color: var(--grey);
}

.regular-button {
    background-color: var(--black);
    border: 4px solid var(--black);
    font-size: 19px;
    vertical-align: text-bottom;
}

.navigation-button:hover {
    background-color: var(--black);
    color: var(--light-gray);
}

.text-right {
    float: right;
}

.pd-rt-12 {
    padding-right: 12px;
}

.title {
    background-color: var(--white);
    border-bottom: 5px solid var(--black);
    color: var(--black);
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.title-border {
    border: 3px solid;
    border-radius: 1px;
}

.welcome-content {
    .swiper .swiper-slide {
        padding: 0 3vh !important;
        display: block !important;
        z-index: 10 !important;
    }

    .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -1px !important;
    }
    .swiper-pagination-bullet {
        background: #e7ebed !important;
        border: #707070;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #6155cc !important;
        width: 12px;
        height: 12px;
        top: 2px;
        position: relative;
    }
}

.home-slider .swiper-pagination.swiper-pagination-bullets {
    padding: 0 7vw !important;
    bottom: 12px;
}

.item-native {
    --padding-left: 0;
    padding: 0;
}

.iti .iti__selected-flag {
    background-color: transparent !important;
    padding: 0;
}

.iti__flag {
    zoom: 1.8;
}

.iti--separate-dial-code .iti__selected-dial-code {
    margin-left: 2.66vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2d3142;
    margin: auto 0 auto 2.66vw;
    font-size: 1.97vh;
}

.iti:focus {
    outline: none;
}

.no-scroller {
    --overflow: hidden;
}

.flex-container {
    width: 100%;
    height: 98%;
    flex: auto;
}

.signup-wrap {
    height: 100%;
    background-image: linear-gradient(35deg, #382f8c, #382f8c, #68b6f3);
    overflow-y: auto;
    padding: 0px 2.7vh;
}


.choose-slider {
    .swiper .swiper-slide img {
        width: 100%;
        object-fit: cover;
    }

    .swiper-slide-active {
        .slider-slide-spec {
            opacity: 1 !important;
        }
    }
}

