.navbar-fixed-top {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
  /*     z-index: 1; */
  background: rgb(0, 0, 0);
  font-size: 30px;
  padding: 30px;
  display: block;
  font-family: "Mortise";
  font-weight: 700;

  .logo {
    list-style-type: none;
  }
}

.navbar-fixed-top.cbp-af-header-shrink {
  padding: 10px 0;
}
