<ion-header></ion-header>
<ion-content class="app-free-game">
  <div class="internet-wrapper">
    <ion-row>
      <ion-col size="10">
        <span></span>
      </ion-col>
      <ion-col size="2" style="text-align: center;">
        <ion-icon name="close-circle"></ion-icon>
      </ion-col>
    </ion-row>
  </div>

  <ion-grid class="game-container" fixed>
    <ion-row class="game-profile">
      <ion-col>
        <div class="profile-pic">
          <div class="pf-img">
            <img src="#" class="img-profile" alt="" />
          </div>
        </div>

        <div class="pf-ic-count">
          <ion-img src="#" class="ic-img"></ion-img>
        </div>
      </ion-col>
      <div class="tooltip-wrapper">
        <ng-container>
          <div class="tooltip-icon">
            <span class="tooltip-ic">

            </span>
          </div>
          <div class="tooltip-content">
            <h3 class="tooltip-title"></h3>
          </div>
        </ng-container>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>